{% extends 'txtbook/base.html' %}

{% load static %}
<!-- <div class="container-fluid"> -->

{% block content %}
  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Current Posts </h2>
        </div>
        <div class="col-md-1 col-lg-8 col-xl-7 mx-auto">
        </div>
      </div>
    </div>
  </section>
<br> </br>


<style>
    .my-container {
        border: 1px solid lightgray;
        margin-top: 10px;
    }

    .big-col {
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
    }

    .header-row {
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 2px;
    }

    .my-row {
        padding-top: 15px;
        padding-bottom: 5px;
    }

    .sm-row {
        padding-top: 0px;
        padding-bottom: 7px;
    }

    .big-col {
        padding: 10px;
    }
</style>
{% if latest_post_list %}
<ul class="text-center">
    {% for post in latest_post_list %}
    <div class="container my-container">
        <div class="row big-row">
            <div class="col-2 big-col float-left">
                {% if post.textbook.user_created == False %}
                <img src="/static/txtbook/thumbnails/{{post.textbook.isbn}}.jpg" style="display: block; width: 150px; height: 175px; margin-left: auto; margin-right: auto">
                {% elif post.image != 'False' %}
                <img src="/media/{{ post.image }}" style="display: block; width: 150px; height: 175px; margin-left: auto; margin-right: auto">
                {% else %}
                <img src="/media/images/no_image_available.png" style="display: block; width: 150px; height: 175px; margin-left: auto; margin-right: auto">

                {% endif %}
            </div>
            <div class="col-10 big-col">
                <div class="row my-row text-left">
                    <div class="col-10 my-col text-left">
                        <h3 class="text-left"><a href="{% url 'txtbook:post' pk=post.id %}">{{ post.textbook.title }}</a>
                        </h3>
                        <h7 class="text-left">Posted {{ post.date_published }}</h7>
                    </div>
                </div>
                <div class="row my-row">
                    <div class="col-3 my-col text-left">
                        <h5>Price: ${{ post.price }}</h5>
                        <h6 class='text-left'>Condition: {{ post.condition }} / 5<br>
                            Format: {{ post.format }}</h6>
                    </div>
                    <div class="col-4 my-col text-left">
                        {% if post.textbook.author == '' %}
                        <h5 class="text-left">Author(s): N/A</h5>
                        {% else %}
                        <h5 class="text-left">Author(s): {{post.textbook.author}}</h5>
                        {% endif %}
                        {% if post.textbook.isbn == '' %}
                        <h6 class="text-left">ISBN: N/A</h6>
                        {% else %}
                        <h6 class="text-left">ISBN: {{post.textbook.isbn}}</h6>
                        {% endif %}
                    </div>
                    <div class="col-4 my-col text-left">
                        <h5 class="text-left">
                            {% if post.textbook.dept == '' %}
                            Classes: N/A
                            {% else %}
                            Classes: {{post.textbook.dept}} {{post.textbook.classnum}}
                            {% endif %}
                            <br>
                            {% if post.textbook.sect == '' %}
                            Section: N/A
                            {% else %}
                            Section: {{post.textbook.sect}}
                            {% endif %}

                        </h5>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</ul>
{% else %}
<p class="text-center">No posts are available.</p>
{% endif %}
{% include 'txtbook/pagination.html' %}

{% endblock %}

<!--https://image.flaticon.com/icons/png/512/130/130304.png-->