{% extends 'txtbook/base.html' %}

{% load static %}
    <!-- <div class="container-fluid"> -->

    {% block content %}
      <div class="jumbotron text-center">
          <h1><b>
                  <font color="brown"> Current Posts </font>
              </b></h1>
      </div>

      {% if latest_post_list %}
      <ul class="text-center">
          {% for post in latest_post_list %}
          <p class="text-center"><a class="text-center" href="{% url 'txtbook:post' post.id%}"> {{ post.textbook }}</a></p>
          {% endfor %}
      </ul>
      {% else %}
      <p class="text-center">No posts are available.</p>
      {% endif %}
    {% endblock %}
