{% extends 'txtbook/base.html' %}
{% load static %}
{% block content %}
<div id="column_separated" style="display: flex;">

    <div class="container">
        <div id="post_information" style="padding-left: 100px; padding-top: 20px; flex: 40%;" >
            <h3 style="color: #4169E1;">Seller Email: {{textbookpost.email}}</h3>
            <h3>{{ textbookpost.textbook.title }}</h3>

            <h5><u>Available Textbook Information</u></h5>
            <div>
                <strong>Author(s): </strong>
                {% if textbookpost.textbook.author == '' %}
                  <h7 style="color: gray">N/A</h7><br>
                {% else %}
                  <h7>{{ textbookpost.textbook.author }}</h7><br>
                {% endif %}

                <strong>Department: </strong>
                {% if textbookpost.textbook.dept == '' %}
                  <h7 style="color: gray">N/A</h7><br>
                {% else %}
                  <h7>{{ textbookpost.textbook.dept }}</h7><br>
                {% endif %}

                <strong>Class Number: </strong>
                {% if textbookpost.textbook.classnum == '' %}
                  <h7 style="color: gray">N/A</h7><br>
                {% else %}
                  <h7>{{ textbookpost.textbook.classnum }}</h7><br>
                {% endif %}

                <strong>Section: </strong>
                {% if textbookpost.textbook.sect == '' %}
                  <h7 style="color: gray">N/A</h7><br>
                {% else %}
                  <h7>{{ textbookpost.textbook.sect }}</h7><br>
                {% endif %}

                <strong>ISBN: </strong>
                {% if textbookpost.textbook.isbn == '' %}
                  <h7 style="color: gray">N/A</h7><br>
                {% else %}
                  <h7>{{ textbookpost.textbook.isbn }}</h7><br>
                {% endif %}
            </div><br>
            <h5><u>Sale Information</u></h5>
            <div>
                <h7>
                    <strong>Price: </strong>${{ textbookpost.price }}<br>
                    <strong>Negotiable price? </strong>{{textbookpost.negotiable }}<br>
                    <strong>Exchangable with other textbooks? </strong>{{ textbookpost.exchangable }}<br>
                    <strong>Maximum price difference, if exchangable: </strong>
                </h7>
                {% if textbookpost.max_diff == '' %}
                <h7 style="color: gray">N/A</h7><br>
                {% else %}
                <h7>${{ textbookpost.max_diff }}</h7><br>
                {% endif %}
                <h7><strong>Preferred payment method: </strong>{{ textbookpost.payment }}</h7><br>
                <br>

                <h7><strong>Condition: </strong>{{ textbookpost.condition }} / 5</h7><br>
                <h7><strong>Format: </strong>{{ textbookpost.format }}</h7><br>
                <strong>Additional Information: </strong>
                {% if textbookpost.additional_info == '' %}
                <h7 style="color: gray">N/A</h7>
                {% else %}
                <h7>{{ textbookpost.additional_info }}</h7>
                {% endif %}

            </div>
        </div>
    </div>

    <div class="container">

        <div id="email_form" style="padding-left: 20px; padding-top: 20px; flex: 60%;">
            <form class="form" role="form" autocomplete="off" action= "{% url 'txtbook:sendEmail' pk=textbookpost.id %}"
                                method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="col-md-6 pb-3">
                    <label for="message"><strong>Type your message here</strong></label>
                    <textarea class="form-control" style="width: 150%" id="message" rows=6 name="message" placeholder="Hi! I am interested in buying your textbook '{{textbookpost.textbook.title}}' for the set price of {{textbookpost.price}} through {{textbookpost.payment}}. Please email me back when you can meet at your convienence."></textarea>
                    <input type="hidden" id="from_email" name="from_email" value={{user.email}}>
                    <input type="hidden" id="subject" name="subject" value="Selling Textbook">
                    <input type="hidden" id="to_email" name="to_email" value={{textbookpost.email}}>
                </div>

                <div style="padding-left: 20px">
                    <button type="submit" class="btn btn-primary btn-lg">  Send from {{user.email}}</button>
                </div>
            </form>
    </div>
    </div>

</div>

{% endblock %}