{% extends 'txtbook/base.html' %}

{% load static %}
{% block content %}

<!-- <h1 class="text-center">Textbook: {{ textbookpost.textbook.title }}</h1>
<h3 class="text-center">Price: ${{ textbookpost.price }}</h3>
{% if textbookpost.image %}
<img src="/media/{{ textbookpost.image }}" style="display: block; margin-left: auto; margin-right: auto; width: 100px; height: 125px;">
{% endif %} -->

<div class="container">

  <!-- Portfolio Item Heading -->
  <h1 class="my-4">{{ textbookpost.textbook.title }}
    <!-- <small>Secondary Text</small> -->
  </h1>

  <!-- Portfolio Item Row -->
  <div class="row">

    <!-- <div class="col-md-8">
      <img class="img-fluid" src="/media/{{ textbookpost.image }}" alt="{{ textbookpost.image }}">
    </div> -->

    <div class="col-md-4">
      <h3 class="my-3">Price: ${{ textbookpost.price }}</h3>
    </div>

  </div>
  <!-- /.row -->

  <!-- Related Projects Row -->
  <h3 class="my-4">Images</h3>
  {% if textbookpost.image == 'False' %}
  <p>No images available.</p>
  {% else %}
  <div>
    <img src="/media/{{ textbookpost.image }}" style="display: block; width: 100px; height: 125px;">
  </div>
  {% endif %}
  <!-- <div class="row"> -->

  <!-- <h3 class="text-center">Format: {{ textbookpost.format }}</h3> -->
  {% endblock %}