{% extends 'txtbook/base.html' %}

{% load static %}
{% block content %}

<!-- Source: https://startbootstrap.com/snippets/portfolio-item/ -->

<div class="container">
  <h1 class="my-4">{{ textbookpost.textbook.title }}
  </h1>
  <div class="row">
    <div class="col-md-4">
      <h3 class="my-3">Price: ${{ textbookpost.price }}</h3>
    </div>
  </div>

  <h3 class="my-4">Images</h3>
  <div class="row">
    {% if textbookpost.textbook.user_created == False %}
    <div class="col-md-2 col-sm-3 mb-4">
      <img class="img-fluid" src="/static/txtbook/thumbnails/{{textbookpost.textbook.isbn}}.jpg" style="display: block; width: 100px; height: 125 px;">
      <small>Database image.</small>
    </div>
    {% elif textbookpost.image != 'False' %}
    <div class="col-md-2 col-sm-3 mb-4">
      <img class="img-fluid" src="/media/{{ textbookpost.image }}" style="display: block; width: 100px; height: 125px;">
      <small>User uploaded.</small>
    </div>
    {% else %}
    <small style="margin-left: 20px; margin-bottom: 20px; color: gray;">No images available.</small>
    {% endif %}
  </div>

  {% endblock %}