{% extends 'txtbook/base.html' %}

{% load static %}
{% block content %}
<!-- <div class="container-fluid"> -->
<br><br>
<!-- Profile page template: https://bootsnipp.com/snippets/K0ZmK -->

<div class="container emp-profile">
            <form>
                <div class="row">
                    <div class="col-md-2">
                        <div class="profile-img">
                            <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""
                            style="width: 110px; height: 100px; border-radius: 50%"/> -->
                            <!-- <div class="file btn">
                                Change Photo
                                <input type="file" name="file"/>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="profile-head">
                                    <h3>
                                    {{ profile.name }}
                                    </h3>

                                    <h7>
                                    Year: 
                                    {% if profile.year == '' %}
                                    <h7 style="color: gray">N/A</h7>
                                    {% else %}
                                    {{ profile.year }}
                                    {% endif %}
                                    </h7>

                                    <br>

                                    <h7>
                                    Major: 
                                    {% if profile.major == '' %}
                                    <h7 style="color: gray">N/A</h7>
                                    {% else %}
                                    {{ profile.major }}
                                    {% endif %}
                                    </h7>

                                    <br>

                                    <h7>
                                    Bio:
                                    {% if profile.bio == '' %}
                                    <h7 style="color: gray">N/A</h7>
                                    {% else %}
                                    {{ profile.bio }}
                                    {% endif %}
                                    </h7>
                                    <br><br>


                            <!-- First section -->
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Contact Information</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        {% if user.email == profile.email %}
                        <!-- Pencil Icon: https://www.w3schools.com/icons/tryit.asp?filename=tryicons_fa-pencil -->
                        <a role="button" href="{% url 'txtbook:edit_profile' pk=user.profile.id %}"><i class="fa fa-pencil" style="font-size:36px"></i></a>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="profile-work">
                           <!-- Just to have the extra space here in the page layout -->
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <br>
                                        <div class="row">
                                                <div class="col-md-4">
                                                    <label>Email</label>
                                                </div>
                                                <div class="col-md-6">
                                                {{ profile.email }}
                                                </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>Venmo</label>
                                            </div>
                                            <div class="col-md-6">
                                                {% if profile.venmo == '' %}
                                                <h7 style="color: gray">N/A</h7>
                                                {% else %}
                                                @{{ profile.venmo }}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>Phone</label>
                                            </div>
                                            <div class="col-md-6">
                                                {% if profile.phone == '' %}
                                                <h7 style="color: gray">N/A</h7>
                                                {% else %}
                                                {{ profile.phone }}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <!-- <div class="row">
                                            <div class="col-md-4">
                                                <label>Seller Rating</label>
                                            </div>
                                            <div class="col-md-6">
                                                {% if profile.rating == '' %}
                                                <h7 style="color: gray">No ratings yet.</h7>
                                                {% else %}
                                                {{ profile.rating }}
                                                {% endif %}
                                            </div>
                                        </div> -->
                                    
                            </div>
                            <br>
                            
                            <!-- Second Section -->
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        {% if user.email == profile.email %}
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">My Current Posts</a>
                                        {% else %}
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Current Posts</a>
                                        {% endif %}
                                    </li>
                            </ul>
                            <br>
                            <!-- <div class="row my-row"> -->
                                {% if textbook_posts %}
                                    {% for post in textbook_posts %}
                                    <div class="row my-row">
                                        <div class="col-md-9">
                                            <a href="{% url 'txtbook:post' pk=post.id %}">{{ post.textbook.title }}</a>
                                            
                                        </div>
                                        {% if user.email == profile.email %}
                                        <div class="col-md-3">
                                            
                                            {% if post.textbook.user_created == False %}
                                                <a role="button" href="{% url 'txtbook:edit_post_database_text' pk=post.id %}">
                                                    <i class="fa fa-pencil" style="margin-left: 10px; margin-right: 10px; font-size: 20px"></i>
                                                </a>
                                            {% else %}
                                                <a role="button" href="{% url 'txtbook:edit_post_original_text' pk=post.id %}">
                                                    <i class="fa fa-pencil" style="margin-left: 10px; margin-right: 10px; font-size: 20px"></i>
                                                </a>
                                            {% endif %}
                                            <a class="btn btn-outline-success btn-sm" role="button" href="{% url 'txtbook:mark_post_sold' pk=post.id %}">Sold</a>
                                            <a role="button" href="{% url 'txtbook:delete_post' post_pk=post.id profile_pk=user.profile.id %}">
                                                <i class="fa fa-trash" style="margin-left: 10px; margin-right: 10px; font-size: 20px"></i>
                                            </a>
                                            
                                        </div>
                                        {% endif %}
                                        
                                    </div>
                                    <hr>
                                {% endfor %}
                                {% else %}
                                <p style="color: gray">No posts.</p>
                                {% endif %}
                            <!-- </div> -->
                            <br><br>

                            <!-- Third Section -->
                            {% if user.email == profile.email %}
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Textbooks I've Sold</a>
                                    </li>
                            </ul>
                            <br>
                                {% if textbook_posts_sold %}
                                    {% for post in textbook_posts_sold %}
                                    <div class="row my-row">
                                        <div class="col-md-9">
                                            <a href="{% url 'txtbook:post' pk=post.id %}">{{ post.textbook.title }}</a>
                                        </div>
                                        <div class="col-md-3 pb-1 float-right">
                                            <a class="btn btn-outline-success btn-sm" role="button" href="{% url 'txtbook:repost' pk=post.id %}">Repost</a>
                                            <a role="button" href="{% url 'txtbook:delete_post' post_pk=post.id profile_pk=user.profile.id %}">
                                                <i class="fa fa-trash" style="margin-left: 10px; margin-right: 10px; font-size: 20px"></i>
                                            </a>
                                        </div>
                                        
                                    </div>
                                    <hr>
                                    {% endfor %}
                                    
                                {% else %}
                                <p style="color: gray">No textbooks sold.</p>
                                {% endif %}
                                
                            {% endif %}
                            <!-- </div> -->
                            <br><br>
                        </div>
                    </div>
                </div>
            </form>           
        </div>


{% endblock %}