{% extends 'txtbook/base.html' %}

{% load static %}
{% block content %}

<section class="call-to-action text-white text-center">
    <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-xl-9 mx-auto">
              <h2 class="mb-4"> Start your search for textbooks! </h2>
            </div>
            <div class="col-md-1 col-lg-8 col-xl-7 mx-auto">
            </div>
        </div>
    </div>
</section>

<!-- Icons Grid -->
<section class="features-icons text-center">
    <div class="container">
      <div class="row">
      <div class="row row-center">
        <style media="screen">
          .icon{
            width: 350px;
            height:350px;
            transition:all ease-in-out .75s;
            background-image: url("static/txtbook/img/uva_blur.png");
            background-size: 1156px 804px;
            background-position-y: -15px;
            background-position-x: -7px;
            border: none;
            cursor: pointer;
            font-size: 40px;
            color: black;
          }
          .icon:hover{
            font-weight: 1;
            transition: all ease-in-out .75s;
            transition-duration: .5s;
            border: 1px solid #888;
            color: white;
            background: url("static/txtbook/img/uva_class.png");
            background-position-y: -15px;
            background-position-x: -7px;
            background-size: 1156px 804px;
          }
          .icon2{
            width: 350px;
            height:350px;
            transition:all ease-in-out .75s;
            background-image: url("static/txtbook/img/bookstore-blur.png");
            background-size: 515px 400px;
            background-position-y: -22px;
            background-position-x: -170px;
            border: none;
            cursor: pointer;
            font-size: 40px;
            color: black;
          }
          .icon2:hover{
            font-weight: 3;
            transition: all ease-in-out .75s;
            transition-duration: .5s;
            border: 1px solid #888;
            color:black;
            background: url("static/txtbook/img/bookstore.png");
            background-position-y: -22px;
            background-position-x: -170px;
            background-size: 515px 400px;
          }
        </style>
        <div class="col-lg-4">
            <a href="{% url 'txtbook:search_by_class' %}"><button class="icon" type="link" name="search_by_class"> Search by Class</button></a>
            <!--
            <div class="features-icons-icon d-flex">
              <img class="img-fluid" src="static/txtbook/img/searchbar.png" alt="">
            </div>
            <h3>Search by Class</h3>
            <p class="lead mb-0">Find all the textbooks you need for classes in one place!</p>-->
        </div>
        <div class="col-lg-4">
              <a href="{% url 'txtbook:textlist' %}"><button class="icon2" type="link" name="search_by_textbook">Search by UVA Textbook</button></a>
            <!--
            <div class="features-icons-icon d-flex">
              <img class="img-fluid" src="static/txtbook/img/bookclip.png
" alt="">
            </div>
            <h3>Sell Old Textbooks</h3>
            <p class="lead mb-0">Make a textbook posting and sell your old textbook without having to worry about shipping</p> -->
        </div>
        <div class="col-lg-4">
              <a href="{% url 'txtbook:allPosts' %}"><button class="icon" type="link" name="search_by_post"> Search by Post</button></a>
            <!--
            <div class="features-icons-icon d-flex">
              <img class="img-fluid" src="static/txtbook/img/email.png" alt="">
            </div>
            <h3>Easy to Use</h3>
            <p class="lead mb-0">Just make an login with your email and become a buyer and/or a seller!</p> -->
        </div>
      </div>
    </div>
  </section>


{% endblock %}