{% extends 'txtbook/base.html' %}

{% load static %}
{% block content %}
  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4"> Search by Class</h2>
        </div>
        <div class="col-md-1 col-lg-8 col-xl-7 mx-auto">
        </div>
      </div>
    </div>
  </section>
  <div class="d-flex justify-content-center">
      <form class="form-inline my-2 my-lg-0 text-center" method="GET" action="{% url 'txtbook:class_search' %}">
            <div class="row my-row">
                <div class="col-md-4">
                  <label class="col-md-5 col-form-label form-control-label" style="margin-left:12px">Department</label>
                  <input class="form-control mr-sm-2" name="class" value="{{request.GET.class}}" placeholder="BIOL" maxlength="4"
                      aria-label="Search"><br>
                  <small class="text-info col-md-8 text-left" style="margin-left:0px; margin-right:150px">e.g., BIOL</small>
                </div>
                <div class="col-md-5">
                  <label class="col-md-8 col-form-label form-control-label">Course Number</label>
                  <input type="number" min="0" max="9999" step="0" patter="\*d" class="form-control mr-sm-2" name="nbr" value="{{request.GET.nbr}}" placeholder="3100"
                          aria-label="Search"><br>
                  <small class="text-info col-md-2">e.g., from BIOL 3100, type 3100</small>
              </div>
              <div class="col-md-2" style="margin-top:38px">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </div>
            </div>
      </form>
  </div>
{% if error_message %}<p class="text-center"><strong>{{ error_message }}</strong></p>
{% endif %}
<br></br>



<style>
  .d-flex{
    margin-top: 30px;
  }
  .my-container{
    border: 1px solid lightgray;
    margin-top: 10px;
  }
  .big-col{
    padding-top: 15px;
    padding-left: 15px;
    padding-right:15px;
    padding-bottom: 2px;
  }
  .header-row{
    padding-top: 15px;
    padding-left: 15px;
    padding-right:15px;
    padding-bottom: 2px;
  }
  .my-row{
    padding-top: 0px;
    padding-bottom: 5px;
  }
  .sm-row{
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .big-col{
    padding: 10px;
  }
  .pagination{
    margin-top:1em;
  }
  .btn-row{
    padding-left: 10px;
    padding-top: 25px;
  }
  .btn{
    margin: 5px;
  }
  .img{
    width: 175px;
    height: 250px;
  }
  .text-left{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>
{% if books %}
<ul class="text-center">
    {% for book in books %}
      {% if book.user_created == False %}
        <div class="container my-container">
          <div class="row big-row">
            <div class="col-2 big-col float-left">
              <img class="img" src="/static/txtbook/thumbnails/{{book.isbn}}.jpg">
            </div>
            <div class="col-10 big-col">
              <div class="row header-row">
                <h3 class="text-left"><a href="{% url 'txtbook:text' pk=book.id %}">{{ book.title }}</a></h3>
              </div>
              <div class="row my-row">
                <div class="col-6 my-col">
                  <h5 class="text-left">Author(s):      {{book.author}}</h5>
                </div>
                <div class="col-6 my-col">
                  <div class="text-left">
                    <h5 class="text-left">ISBN:     {{book.isbn}}</h5>
                  </div>
                </div>
              </div>
              <div class="row my-row">
                <div class="col-6 row-col">
                  <div class="row">
                    <div class="col-6  my-col">
                      <h5 class="text-left">
                          Classes: {{book.dept}} {{book.classnum}}
                      </h5>
                    </div>
                    <div class="col-6  my-col">
                      <h5 class="text-left">
                        {% if book.sect|length == 1 %}
                          Section: 00{{book.sect}}
                        {% else %}
                          Section: {{book.sect}}
                        {% endif %}
                      </h5>
                    </div>
                  </div>
                  <div class="sm-row">
                    <div class="row sm-row">
                      <div class="col-12 my-col">
                        <h6 class='text-left'>Bookstore Pricing:      {{book.new_price_bookstore}} (new) {{book.used_price_bookstore}} (used)</h6>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6 row-col">
                  <a href="{{ book.amazon_link}}" target="_blank">
                    <img src="/static/txtbook/img/amazon.jpg" class="rounded float-left" alt="amazon_logo" style="width:30%">
                  </a>
                </div>
              </div>
                <div class="row btn-row">
                  <a class ="btn btn-primary my-2 my-sm-0" type="link" href="{% url 'txtbook:transfer' pk=book.id %}">Create Listing</a>
                  <a class ="btn btn-secondary my-2 my-sm-0" type="link" href="{% url 'txtbook:search_posts' pk=book.id %}">Search Listings</a>
                </div>
              </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
</ul>
{% elif dept == "" %}
  <p class="text-center">No textbooks matched the search.</p>
{% elif dept == null and nbr == null %}
  <p class="text-center">Search for textbooks!</p>
{% else  %}
  <p class="text-center">No textbooks matched the search.</p>
{% endif %}

{% if books.has_other_pages %}
<div class="container">
  <ul class="pagination justify-content-center">
    {% if books.has_previous %}
      <li class="page-item"><a class ="page-link" href="?page=1&class={{dept}}&nbr=={{nbr}} aria-label="First">First</a></li>
      <li class="page-item"><a class ="page-link" aria-label="Previous" href="?page={{ books.previous_page_number }}&class={{dept}}&nbr=={{nbr}}"><<</a></li>
    {% else %}
      <li class="page-item disabled"><a class="page-link"><span>First</span></a></li>
      <li class="page-item disabled"><a class="page-link"><span><<</span></a></li>
    {% endif %}

    {% for i in books.paginator.page_range %}
      {% if books.number == i %}
        <li class="page-item active"><a class="page-link" href="#"><span>{{ i }} <span class="sr-only">(current)</span></span></a></li>
      {% elif i > books.number|add:'-3' and i < books.number|add:'3' %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}&class={{dept}}&nbr=={{nbr}}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if books.has_next %}
      <li class="page-item"><a class="page-link" aria-label="Next" href="?page={{ books.next_page_number }}&class={{dept}}&nbr={{nbr}}">>></a></li>
      <li class="page-item"><a class="page-link" aria-label="Last" href="?page={{books.paginator.num_pages}}&class={{dept}}&nbr={{nbr}}">Last</a></li>
    {% else %}
      <li class="page-item disabled"><a class="page-link"><span>>></span></a></li>
      <li class="page-item disabled"><a class="page-link"><span>Last</span></a></li>
    {% endif %}
  </ul>
</div>
{% endif %}
{% endblock %}
