{% extends 'txtbook/base.html' %}

{% load static %}
{% block content %}
  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4"> Textbooks from UVA: </h2>
        </div>
        <div class="col-md-1 col-lg-8 col-xl-7 mx-auto">
        </div>
      </div>
    </div>
  </section>
<br> </br>

<style>
  .my-container{
    border: 1px solid lightgray;
    margin-top: 10px;
  }
  .big-col{
    padding-top: 15px;
    padding-left: 15px;
    padding-right:15px;
    padding-bottom: 2px;
  }
  .header-row{
    padding-top: 15px;
    padding-left: 15px;
    padding-right:15px;
    padding-bottom: 2px;
  }
  .my-row{
    padding-top: 0px;
    padding-bottom: 5px;
  }
  .sm-row{
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .big-col{
    padding: 10px;
  }
  .pagination{
    margin-top:1em;
  }
  .btn-row{
    padding-left: 10px;
    padding-top: 25px;
  }
  .btn{
    margin: 5px;
  }
  .img{
    width: 175px;
    height: 250px;
  }
  .text-left{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  </style>
{% if books %}
<ul class="text-center">
    {% for book in books %}
      {% if book.user_created == False %}
        <div class="container my-container">
          <div class="row big-row">
            <div class="col-2 big-col float-left">
              <img class="img" src="/static/txtbook/thumbnails/{{book.isbn}}.jpg">
            </div>
            <div class="col-10 big-col">
              <div class="row header-row">
                <h3 class="text-left"><a href="{% url 'txtbook:text' pk=book.id %}">{{ book.title }}</a></h3>
              </div>
              <div class="row my-row">
                <div class="col-6 my-col">
                  <h5 class="text-left">Author(s):      {{book.author}}</h5>
                </div>
                <div class="col-6 my-col">
                  <div class="text-left">
                    <h5 class="text-left">ISBN:     {{book.isbn}}</h5>
                  </div>
                </div>
              </div>
              <div class="row my-row">
                <div class="col-6 row-col">
                  <div class="row">
                    <div class="col-6  my-col">
                      <h5 class="text-left">
                          Classes: {{book.dept}} {{book.classnum}}
                      </h5>
                    </div>
                    <div class="col-6  my-col">
                      <h5 class="text-left">
                        {% if book.sect|length == 1 %}
                          Section: 00{{book.sect}}
                        {% else %}
                          Section: {{book.sect}}
                        {% endif %}
                      </h5>
                    </div>
                  </div>
                  <div class="sm-row">
                    <div class="row sm-row">
                      <div class="col-12 my-col">
                        <h6 class='text-left'>Bookstore Pricing:      {{book.new_price_bookstore}} (new) {{book.used_price_bookstore}} (used)</h6>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6 row-col">
                  <a href="{{ book.amazon_link}}" target="_blank">
                    <img src="/static/txtbook/img/amazon.jpg" class="rounded float-left" alt="amazon_logo" style="width:30%">
                  </a>
                </div>
              </div>
                <div class="row btn-row">
                  {% if user.is_active %}
                    {% if user.profile.id == '' %}
                    <a class ="btn btn-primary my-2 my-sm-0" type="link" href="{% url 'txtbook:create_profile' %}">Create Listing</a>
                    {% else %}
                    <a class ="btn btn-primary my-2 my-sm-0" type="link" href="{% url 'txtbook:transfer' pk=book.id %}">Create Listing</a>
                    {% endif %}
                  {% else %}
                    <a class ="btn btn-primary my-2 my-sm-0" type="link" href="{% url 'social:begin' 'google-oauth2' %}?next={% url 'txtbook:addTextbook' %}">Create Listing</a>
                  {% endif %}
                  <a class ="btn btn-secondary my-2 my-sm-0" type="link" href="{% url 'txtbook:search_posts' pk=book.id %}">Search Listings</a>
                </div>
              </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
</ul>
{% else %}
<p class="text-center">No textbooks matched the search.</p>
{% endif %}
{% include 'txtbook/pagination.html' %}
{% endblock %}
